/**
 * 00. Setup
 * 01. Hero / Header
 * 02. Footer
 * 03. Stats Section
 */

@import 'reset';
@import 'variables';
@import 'typography';

/* 00. Setup */
body, html {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $background;
}

body {
	text-align: center;
}

a {
	color: $m;
}

.bf {
	color: $background;

	&:hover {
		color: #0bf;
	}
}

* {
	cursor: url(../images/seed30.png), auto !important;
}

.block {
	display: block;
}

.bg-white {
	background: white;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

a:hover, a:hover * {
	cursor: pointer !important;
	//cursor: url(../images/seed30-bit-light.png), pointer !important;
	//cursor: url(../images/arrow2582.png), pointer !important;
}

.container {
	margin: 0 auto;
	width: calc(100vw - 2rem);
	max-width: 1280px;
	overflow: auto;
}

.mini-container {
	margin: 0 auto;
	width: calc(100vw - 2rem);
	max-width: 1024px;
}

.flex {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	&.column {
		flex-direction: column;
	}

	&.equal {
		> div {
			flex: 0 0 50%;
			@media only screen and ( max-width: 600px ) {
				flex: 1 1 100%;
			}
		}
	}

	&.third {
		> div {
			flex: 0 0 33.33333%;
			@media only screen and ( max-width: 600px ) {
				flex: 1 1 100%;
			}
		}
	}

	&.quarter {
		> div {
			flex: 0 0 25%;
			@media only screen and ( max-width: 800px ) {
				flex: 0 0 50%;
			}
			@media only screen and ( max-width: 500px ) {
				flex: 1 1 100%;
			}
		}
	}

	&.top {
		align-items: flex-start;
	}
}

.mb {
	margin-bottom: 2rem;
}

.mt {
	margin-top: 2rem;
}

.pb {
	padding-bottom: 2rem;
}

.pt {
	padding-top: 2rem;
}

.chart, .charts {
	width: 100%;
	height: 400px;
}

.chart-toggle {

	button {
		display: inline-block;
		padding: .5rem 1.5rem;
        margin: .5rem;
        border-radius: 100px;
        text-decoration: none;
        color: black;
		border: 2px solid $background;
		background: white;

		&:hover {
			background: rgba( $background, .3);
			cursor: pointer !important;
		}

		&.active {
			background: $background !important;
		}
	}
}

.charts {
	display: grid;
	align-items: center;
	grid-template-columns: 1;
	grid-template-rows: 1;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 25px;
		width: 90px;
		background: white;
		z-index: 9999;
	}
}

.chart {
	grid-row-start: 1;
	grid-column-start: 1;
	position: relative;
	opacity: 1;
	transition: opacity .6s;
}

.chart.hidden {
	opacity: 0;
	pointer-events: none;
}

#mileChart {
	width: calc(100% - 35px);
    margin-left: 35px;
}

// 01. Hero
@import 'header';

// 02. Footer
#footer {
	margin-top: 2rem;
	.skyline {
		opacity: .5;
		position: relative;
		overflow: hidden;
		&-wheel {
			position: absolute;
			top: 0;
			left: 0;
			animation: rotate 1.3s linear infinite;
		}
	}
	
	.footer-content {
		padding: 2rem 0;
		background: rgba(0,0,0,.5);
		color: white;
	}
}

// 03. Stats Section
.meet {
	&-container {
		padding: 2rem;

		> img {
			width: 400px;
			margin: 0 auto 1rem; 
			border-radius: 20px;
		}
	}

	&-stats {
		text-align: center;
		max-width: 300px;
		margin: 0 auto;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		strong {
			display: block;
			margin-top: 1rem;
		}
	}
}

// 04. Chart Section
.chart-container {
	padding: 2rem 0;
	background: white;
}

.legend {
	height: 20px;
	width: 20px;
	margin: 0 auto 1rem;

	&-j {
		background-color: $j;
	}
	&-m {
		background-color: $m;
	}
}

// 05. Photos
.photo-container {
	.flex > div {
		padding: 1rem;
	}
}